{% extends "base.html" %} {% block title %}Preprocess Text{% endblock %} {%
block content %}
<div class="container mt-3">
  <!-- <h1>Welcome, {{name}}!</h1> -->
  <h1>Preprocessing</h1>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for msg in
  messages %}
  <p><i>{{ msg }}</i></p>
  {% endfor %} {% endif %} {% endwith %}
</div>
<div class="container mt-5">
  <!-- <div class="mb-4">For help, please click <a href="/">here</a>.</div> -->
  <div class="mb-5">
    <form method="POST" action="{{ url_for('process_text') }}">
      <div class="form-group">
        <label for="text">Text to preprocess:</label>
        <textarea class="form-control" id="text" name="text" rows="3">I had started to feel very tired and I decided to try and find somewhere to have a sleep.</textarea
        >
        <small id="textAreaHelp" class="form-text text-muted"
          >The quick brown fox jump over the lazy dog.</small
        >
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
